

body {
    margin-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('../img/head.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:550px;
}

.headline {
    padding: 120px 0;
}

.headline h1 {
    font-size: 36px;
    color:white;
}

.headline h2 {
    font-size: 30px;
    color:white;
}

.featurette-divider {
    margin: 80px 0;

}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}



footer {
    margin: 50px 0;
    text-align: center;
}

#about-img {
    height: 250px;
    width:250px;
    float: left;
}

.second-p{
    margin-right:25px;
}

#i-text{
    text-align: center;
}



/* Prices Table */



.prices {
    padding-bottom: 40px;
    color: #fff;

}

.pricing-tables-jumbotron {
    text-align: center;
    background: none;
}

.big {
    font-size: 37px;
}

.option {
    background: #f9f9f9;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2);
    border-radius: 4px 4px 0 0;
    position: relative;
    margin: 20px 0;
    text-align: center;
    color: #333;
}

.option:hover .hided-icon {
    color: #fff;
    padding: 0 10px;
}

.option > .option-title {
    padding: 20px;
}

.option > .option-title > h3 {
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    margin: 0;
}

.option > .option-title > span {
    font-style: italic;
    font-size: 16px;
}

.option > .option-price {
    background: #fff;
    padding: 0 0 10px;
    color: #0FB112;
}

.option > .option-price > .price {
    display: block;
    font-size: 72px;
    font-weight: bold;
    font-style: italic;
}

.option > .option-price > .period {
    font-size: 14px;
}

.option .option-list {
    padding: 0;
}

.option .item-list {
    list-style: none;
    padding: 0;
}

.option .item-list li:nth-child(even) {
    background: #fdfdfd;
}

.option .item-list > li {
    padding: 10px 5px;
    font-size: 16px;
}

.option .btn {
    width: 100%;
    padding: 18px 8px;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
}

.option .btn-success {
    color: #fff;
    background: #0FB112;
}

.option .btn-success:hover {
    background: #1d7019;
}

.option .hided-icon {
    color: #0FB112;
    margin-left: -14px;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}
h2{
    color:black;
}







/*---Media Queries ---*/

@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}